@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, welcome to Coreys Knick Knack shop!</h1>

<p>
    Welcome to Coreys shop if you would like to see what kind of products we have
    in store go to shopping cart and you'll be able to choose what you would like.
    Please use the scroll real for the quantity of each product the price will change as you go.
</p>
